BOT_TOKEN=MDENienstoiwefnty.eywfpoi.NFediyrMG <--retrieved from Discord developers page
CLIENT_ID=1234578901234578 <--retrieved from Discord developers page
GREETING_CHANNEL_ID=87423263 <--this is the ID of the channel where the bot says "Meet Marcel Toing!" on startup
GUILD_ID=235971950 <--use ID of the server you're using for testing
NODE_ENV=dev <--should really only ever be dev, unless testing a prod-specific feature for something.